<div>
  <% if movie.image_path.present? %>
    <a href="<%=movie_path(movie)%>"><img id="title" src="<%= movie.image_path%>" width="300" height="450"></a>
  <% else %>
      <a href="<%= movie.poster_image_url%>"><img id="title" src="<%= movie.poster_image_url%>" width="300" height="450"></a>
  <%end%>
</div>
<h4><%= link_to movie.title, movie_path(movie) %></h4>
<h4>Average Review:
<% if movie.reviews.any? %>
  <%= movie.review_average %>/10 
<% else %>
  No reviews yet.
<% end %></h4>
<h4>Reased: <%= formatted_date(movie.release_date) %></h4>
<h5>Dir. <%= movie.director %> | <%= movie.runtime_in_minutes %> minutes</h5>
<p><%= truncate(movie.description, :length => 100, :separator => ' ...') %></p>