<h1>Rotten Mangoes</h1>
    <%= link_to "Submit a movie!", new_movie_path %>
    <hr>

    <p>Search For Movies</p>
     
    <%= form_tag(movies_path, method: "get") do %>
      <%= label_tag 'Search Terms' %>
      <%= text_field_tag 'search' %>
      <br/>
       <%= select_tag "duration", "<option></option><option>Under 90</option><option>Between 90 and 120</option><option>Over 120</option>".html_safe %>
      <%= submit_tag("Search") %>
    <% end %>
    </br></br>

    <% @movies.each do |movie| %>
      <%= render partial: "movie", locals: {movie: movie} %>
    <% end %>