  <h2><%= @user.firstname %>'s Profile</h2>
  <p>Name: <%= @user.full_name %></p>
  <p>Email Address: <%= @user.email %></p>
  <p>Admin Power: <%= @user.admin == true ? "Yup" : "Nope" %></p>


    <h3>Reviews by <em><%= @user.firstname %></em></h3>
    <% if current_user %>
      <% @user.reviews.each do |review| %>
        <p><%= review.text %></p>
        <p><%= review.rating_out_of_ten %>/10</p>
         <small>- <%= review.user.full_name %></small><br/>
      <% end %>
      <p><%= link_to "Write a review!", new_movie_review_path(@movie) %></p>
    <% else %>
      <p>Please <%= link_to "log in", new_session_path %> to see reviews and add your own.</p> 
    <% end %>