This is the admin page
<% if current_user.admin == true %>
  You are an admin, good to go.
<h1>Rotten Mangoes - Admin Page</h1>
<table>
<thead>
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Email</th>
          <th>Admin?</th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
          <tr>
            <td><h3><%= link_to user.firstname %></h3></td>
            <td><h3><%= link_to user.lastname %></h3></td>
            <td><%= user.email %></td>
            <td>Admin Power: <%= user.admin == true ? "Yup" : "Nope" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
<%= paginate @users %>

<% else %>
  You are not allowed to be here.
<% end %>